@import url(../_var.css);

.burger-button{
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    background-color: var(--light-color);
    border: 3px solid var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    box-shadow: 2px 2px 2px var(--box-shadow);
    span{
        display: block;
        width: 15px;
        height: 3px;
        background-color: var(--main-color);
    }
}