@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    --main-color: #0A2463;
    --main-color-opacity-50: #0a256381;
    --main-color-opacity-25: #0a25633d;
    --lighter-main-color: #3e91cc;
    --lighter-main-color-opacity-25: #3E92CC59;
    --secondary-color: #D8315B;
    --light-color: #FFFAFF;
    --dark-color: #1E1B18;
    --box-shadow:#1e1b184b;
    --light-color-opacity-75:#fffaffb7;
    --light-color-opacity-50:#fffaff6b;
}